  .typewriter {
    max-width: 100%;
    line-height: 1.4;
    font-size: 35px;
  }
  @media screen and (min-width: 420px) {
    .typewriter {
      font-size: 40px;
    }
  }
  @media screen and (min-width: 570px) {
    .typewriter {
      font-size: 55px;
    }
  }
  @media screen and (min-width: 790px) {
    .typewriter {
      font-size: 70px;
    }
  }
  @media screen and (min-width: 920px) {
    .typewriter {
      font-size: 85px;
    }
  }
  
  .sentence:not(.last-sentence) {
    display: block;
  }
  
  .last-sentence {
    white-space: nowrap;
    display: inline-block;
    padding-left: 25px;
  }
  
  .dynamic-text {
    position: relative;
  }
  .dynamic-text:after {
    content: '|';
    color: white;
    margin-left: 10px;
    position: absolute;
    left: calc(100% - 10px);
  }
  .dynamic-text.fade:after {
    animation: fade 1s infinite ease-in-out;
  }
  
  @keyframes fade {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  