@import '../../style/css/_breakpoints.scss';

.about-page {
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
	flex: 0 1 auto;
	flex-direction: column;
  justify-content: center;
  color: white;
  
  @include breakpoint-small-down {
    padding-top: 3rem;
  }

  h1 {
    padding: 1rem 0;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 8px;
  }

  .content-grid {
    flex: auto;
  }

  .about-wrapper {
    
    .about-content {
      font-size: 0.875rem;
      line-height: 1.5rem;
      padding: 15px;
      
      @include breakpoint-small-down {
        font-size: 1rem;
      }

      p {
        font-weight: 300;
        padding: 0.5rem 0;
      }

      .text-emoji {
        padding: 2rem 0;
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
      }
    }
  }

}

@mixin tablet {
  @media (max-width: 600px) {
    @content;
  }
}

.profile-img {
    max-width: 40vw;
    max-height: 46vh;
    align-items: end;
    display: flex;
    float: right;
    padding-left: 10px;
    padding-right: 15px;
}